@charset "utf-8"; 
/* 인코딩 한글파일 안깨지도록 */
@import 'reset.css';
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
    font-family: 'NanumSquare', sans-serif !important; 
    font-size: 14px; 
    color:#4e4e4e; 
    line-height: 1.4;
}
.wrap{
    width: 100%;
    min-width: 1100px;
}
header{
    width: 100%;
    height: 120px;
    /* 라인하이트 값을 높이값과 같은 값을 주면 중간에 위치 */
    line-height: 120px;
    padding: 0 60px;
    /* 패딩을 줄때는 박스사이징도 줘야함 */
    box-sizing: border-box;
    position: fixed;
    /* 포지션 줄 경우 위치 정보 주기 */
    top: 0;
    background: #000;
    
}
header .logo{
    display: block;
    font-size: 42px;
    font-weight: 900;
    /* 자간 간격 */
    letter-spacing: -6px;
    color: #39312b;
    float: left;
}

header nav{
    float: right;
}

header nav .gnb li{
    display: inline-block; 
    /* block속성은 한 값을 다 차지하고 옆으로 나열
    마진값으로 나열 떨어뜨려주기 */
    margin-left: 60px;
}

header nav .gnb li a{
    /* a는 inline 속성이니까 블럭속성으로 바꾸어 주어야 함 */
    display: block; 
    /* block속성은 한 값을 다 차지하고 옆으로 나열
    마진값으로 나열 떨어뜨려주기 */
    margin-left: 60px;
    font-size: 18px;
    text-transform: uppercase;
    /* 가상 콘텐츠 기준점을 잡기 위해 */
    position: relative; 

}
header nav .gnb li a:after{
    content: '';
    width: 0%;
    height: 1px;
    position: absolute;
    background-color: #888;
    bottom: 47px;
    left: 50%;
    /* translateX(-50%); 가운데로 온다. */
    transform: translateX(-50%);transition: all 0.5s;
}

header nav .gnb li a:hover:after, header nav .gnb li a:focus:after {
    width: 100%;
}
/* 인라인블럭 (inline-block) 요소
 

inline 특징 (= 옆으로 나열) + block 특징 (= 너비높이지정 가능)


<button>
<img>
<iframe>
<input> 
<select>
<textarea> */

/* 인라인 블럭 요소 확인 */